# macOS
.DS_Store

# Xcode
*.xcodeproj/

# PyCharm
.idea/

# Python
__pycache__/

# CLion and CMake
cmake-build-debug/
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
*.make

# Makefile
Makefile

# FileFragmentGenerator Input and Output
FileFragmentGenerator/FileFragmentGenerator
FileFragmentGenerator/FileFragmentGenerator.cbp
FileFragmentGenerator/input/
FileFragmentGenerator/output/

# Data input and output
ByteFrequencyBasedTraining/train_data/
ByteFrequencyBasedTraining/validation_data/
ByteFrequencyBasedTraining/test_data/
ByteFrequencyBasedTraining/tensorboard/
ByteFrequencyBasedTraining/model/

CNNBasedTraining/train_data/
CNNBasedTraining/validation_data/
CNNBasedTraining/test_data/
CNNBasedTraining/tensorboard/
CNNBasedTraining/model/