# macOS
.DS_Store

# Xcode
*.xcodeproj/

# PyCharm
.idea/

# Python
__pycache__/
__init__.py

# CLion and CMake
cmake-build-debug/
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
*.make

# Makefile
Makefile

# TensorFlow Input files
**/train_data/
**/validation_data/
**/test_data/
**/model/
**/tensorboard/

# FileFragmentGenerator Input and Output
FileFragmentGenerator/FileFragmentGenerator
FileFragmentGenerator/FileFragmentGenerator.cbp
FileFragmentGenerator/input/
FileFragmentGenerator/output/

