# macOS
.DS_Store

# Xcode
*.xcodeproj/

# PyCharm
.idea/

# Python
__pycache__/
__init__.py

# CLion and CMake
cmake-build-debug/
CMakeLists.txt
cmake_install.cmake
*.make

# Makefile
Makefile

# TensorFlow Input files
ByteFrequencyBasedTraining/train_data/
ByteFrequencyBasedTraining/validation_data/
ByteFrequencyBasedTraining/test_data/
